
*.txt
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
vosk-model-ru-0.10/rnnlm/special_symbol_opts.conf
vosk-model-ru-0.10/rnnlm/final.raw
vosk-model-ru-0.10/rnnlm/feat_embedding.final.mat
vosk-model-ru-0.10/rescore/phones/word_boundary.int
vosk-model-ru-0.10/rescore/phones/wdisambig_words.int
vosk-model-ru-0.10/rescore/phones/wdisambig_phones.int
vosk-model-ru-0.10/rescore/phones/silence.int
vosk-model-ru-0.10/rescore/phones/silence.csl
vosk-model-ru-0.10/rescore/phones/sets.int
vosk-model-ru-0.10/rescore/phones/roots.int
vosk-model-ru-0.10/rescore/phones/optional_silence.int
vosk-model-ru-0.10/rescore/phones/optional_silence.csl
vosk-model-ru-0.10/rescore/phones/nonsilence.int
vosk-model-ru-0.10/rescore/phones/nonsilence.csl
vosk-model-ru-0.10/rescore/phones/extra_questions.int
vosk-model-ru-0.10/rescore/phones/disambig.int
vosk-model-ru-0.10/rescore/phones/disambig.csl
vosk-model-ru-0.10/rescore/phones/context_indep.int
vosk-model-ru-0.10/rescore/phones/context_indep.csl
vosk-model-ru-0.10/rescore/phones/align_lexicon.int
vosk-model-ru-0.10/rescore/G.fst
vosk-model-ru-0.10/rescore/G.carpa
vosk-model-ru-0.10/README
vosk-model-ru-0.10/ivector/splice.conf
vosk-model-ru-0.10/ivector/online_cmvn.conf
vosk-model-ru-0.10/ivector/global_cmvn.stats
vosk-model-ru-0.10/ivector/final.mat
vosk-model-ru-0.10/ivector/final.ie
/vosk-model-ru-0.10
.idea/ScainetAI.iml
.idea/vcs.xml
.idea/workspace.xml
/__pycache__
